body, html {
	padding: 0;
	margin: 0;
	font-size: 12px;
	padding-top: .5rem;
	background: url(img/background.jpg) repeat-y center 0;
	color: #212c5b;
}
.tax-container {
	margin-bottom: 2rem;
}
h1 {
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #000;
}
header a:hover {
	color: #fff;
}
.btn-orange {
	background: #fe9922;
	color: #fff;
}
.btn-yellow {
	background: #ffcc33;
}
.btn {
	margin-bottom: 1rem;
}
.tax-number {
	font-weight: bold;
}
table .difference {
	font-weight: bold;
}
table .penalty-tax {
	font-weight: bold;
}
table th,
table td {
	padding:0.3rem 1rem!important;
}
table tr {
	padding: 0;
}
.dif {
	color: green;
}
.pen {
	color: red;
}
.dif, .pen {
	font-weight: bold;
}
.farerule p {
	height: 300px;
	max-width: 250px;
	overflow-y: scroll;

}
#signin input:focus,
.btn:focus {
    border: 1px solid #ffcc33!important;
    box-shadow: none;
}
label {
    font-weight: bold;
}
.wrapper {
    margin-top: 5rem;
}

.btn-blue {
	background: #5590c6;
	color: #fff;
}
.logo {
	height: 40px;
}
.result-penalty span {
	font-size: 1.2rem;
}
.sign-wrapper {
	font-size: 1.2rem;
}
.sign-wrapper .agent-name {
	color:#5590c6;
	font-weight: bold;
}

.nav-tabs {
	border: 0!important;
	margin-bottom: .5rem;
}
.nav-item .nav-link{
	color: #5590c6!important;
}
.nav-item .nav-link.active{
	background: #fe9922!important;
	color: #fff!important;
}