body, html {
	padding: 0;
	margin: 0;
	font-size: 12px;
	padding-top: .5rem;
}
h1 {
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #000;
}
.btn {
	margin-bottom: 1rem;
}
.tax-number {
	font-weight: bold;
}
table .difference {
	font-weight: bold;
}
table .penalty-tax {
	font-weight: bold;
}
table th,
table td {
	padding:0.3rem 1rem!important;
}
table tr {
	padding: 0;
}
.dif {
	color: green;
}
.pen {
	color: red;
}
.dif, .pen {
	font-weight: bold;
}
.farerule p {
	height: 300px;
	max-width: 250px;
	overflow-y: scroll;

}